<% sort_enabled = local_assigns[:sort_enabled].nil? ? true : local_assigns[:sort_enabled] %>

<table class="table table-hover">
  <thead>
    <tr>
      <th class="align-middle ps-3">タイトル</th>
      <% if admin %>
        <th class="align-middle">作成者</th>
      <% end %>
      <th class="align-middle">
        <%= admin ? "作成時刻" : "日付" %>
        <%if sort_enabled %>
          <%= sort_arrow(admin ? "created_at" : "report_date") %>
        <% end %>
      </th>
      <th class="align-middle">操作</th>
    </tr>
  </thead>
  <tbody>
    <% reports.each do |report| %>
      <tr>
        <td class="ps-3"><%= report.title %></td>
        <% if admin %>
          <td><%= report.user&.name %></td>
        <% end %>
        <td><%= admin ? report.created_at.strftime("%H:%M") : report.report_date.strftime("%Y-%m-%d") %></td>

        <td class="d-flex align-items-center">
          <div class="me-2">
            <%= render partial: "reports/favorite", locals: { report: report, favorite: report.favorites.find_by(user_id: current_user.id) } %>
          </div>
          <%= link_to admin ? edit_admin_report_path(report) : edit_report_path(report), class: "btn btn-link text-secondary p-0 me-2 icon-hover", title: "編集", "data-bs-toggle": "tooltip", "data-bs-placement": "top" do %>
            <i class="bi bi-pencil-square fs-3"></i>
          <% end %>
          <div data-controller="modal">
            <button
              type="button"
              class="btn btn-link text-danger p-0 icon-hover"
              data-action="click->modal#show"
              data-url="<%= admin ? admin_report_path(report) : report_path(report) %>"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="削除">
              <i class="bi bi-trash fs-3"></i>
            </button>
            <%= render partial: "share/delete_alert" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
