<% sort_enabled = local_assigns[:sort_enabled].nil? ? true : local_assigns[:sort_enabled] %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>タイトル</th>
      <% if admin %>
        <th>作成者</th>
      <% end %>
      <th>
        日付
        <%if sort_enabled %>
          <%= sort_arrow("report_date") %>
        <% end %>
      </th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% reports.each do |report| %>
      <tr>
        <td><%= report.title %></td>
        <% if admin %>
          <td><%= report.user&.name %></td>
        <% end %>
        <td><%= report.report_date.strftime("%Y-%m-%d") %></td>
        <td class="d-flex align-items-center">
          <div class="me-2">
            <%= render partial: "reports/favorite", locals: { report: report, favorite: report.favorites.find_by(user_id: current_user.id) } %>
          </div>
          <%= link_to "詳細", admin ? admin_report_path(report) : report_path(report), class: "btn btn-sm m-0 me-2 btn-outline-dark" %>
         <button type="button" class="btn btn-sm btn-outline-dark btn-hover-red" data-bs-toggle="modal" data-bs-target="#deleteModal-<%= report.id %>">
            削除
          </button>
        </td>
      </tr>
      <%= render "share/delete_alert", modal_id:report.id, confirm_text: "削除", message: "本当に削除しますか？", confirm_path: admin ? admin_report_path(report) : report_path(report) %>
    <% end %>
  </tbody>
</table>