<div id="toast-container" data-controller="toast">
  <% flash.each do |message_type, message| %>
    <% if message_type.to_s == "alert" %>
      <% icon = "bi bi-exclamation-circle" %>
      <% title_class = "toast-title-danger" %>
      <% header_class = "toast-header-danger" %>
      <% border_class = "toast-danger" %>
      <% body_class = "toast-body-danger" %>
      <% title = "Error" %>
    <% else %>
      <% icon = "bi bi-check2-circle" %>
      <% title_class = "toast-title-success" %>
      <% header_class = "toast-header-success" %>
      <% border_class = "toast-success" %>
      <% body_class = "toast-body-success" %>
      <% title = "Success" %>
    <% end %>

    <div class="mb-2 toast <%= border_class %>" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header <%= header_class %>">
        <i class="<%= icon %> me-2"></i>
        <strong class="me-auto <%= title_class %>"><%= title %></strong>
        <button class="btn-close" data-bs-dismiss="toast"></button>
      </div>
      <div class="toast-body <%= body_class %>"><%= message.html_safe %></div>
    </div>
  <% end %>
</div>
