<div class="container d-flex justify-content-center mt-5">
  <div class="card p-4 col-md-6 shadow-sm">
    <h2 class="mb-4 text-center">パスワード再設定</h2>
    
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="mb-3">
        <%= f.label :email, "メールアドレス", class: "form-label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "メールアドレスを入力" %>
      </div>
      
      <div class="text-center">
        <%= f.submit "パスワード再設定メールを送信", class: "btn btn-outline-dark w-100" %>
      </div>
    <% end %>
    
    <div class="text-center mt-3">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>