<div class="calendar-header">
  <div class="calendar-header-left">
    <%= link_to '今日', admin_calendar_day_path(date: Date.today.strftime('%Y-%m-%d')), class: 'today-button border' %>
    <div class="arrow-buttons">
      <%= link_to admin_calendar_day_path(date: @previous_date), class: 'arrow-button' do %>
        <i class="bi bi-chevron-left"></i>
      <% end %>
      <%= link_to admin_calendar_day_path(date: @next_date), class: 'arrow-button' do %>
      <i class="bi bi-chevron-right"></i>
    <% end %>
    </div>
    <p class="text-center mb-0 fs-5"><%= @selected_date.strftime('%Y年%m月%d日') %></p>
  </div>
  <div class="calendar-header-right">
    <%= favorite_filter_link %>
    <div class="search_bar_container">
      <%= render_search_bar(path: admin_calendar_day_path(date: @selected_date), placeholder: "ユーザー名・タイトルで検索") %>
    </div>
    <div class="btn-group rounded-pill border overflow-hidden calendar-toggle" role="group">
      <%= link_to admin_calendar_month_path(month: @selected_date.strftime('%Y-%m')),
          class: "btn px-3 py-2 d-flex align-items-center justify-content-center #{action_name == 'month' ? 'bg-secondary text-white' : 'bg-light text-dark'}",
          title: "月別表示" do %>
        <i class="bi bi-calendar3"></i>
      <% end %>

      <%= link_to admin_calendar_day_path(date: @selected_date.strftime('%Y-%m-%d')),
          class: "btn px-3 py-2 d-flex align-items-center justify-content-center #{action_name == 'day' ? 'bg-secondary text-white' : 'bg-light text-dark'}",
          title: "日別表示" do %>
        <i class="bi bi-calendar3-event"></i>
      <% end %>
    </div>
  </div>
</div>

<%= render partial: "share/reports_table", locals: { reports: @reports, admin: true } %>
