<div class="mb-1">


  <div class="d-flex justify-content-between align-items-baseline">
    <h1 class="fs-2 mb-0">
      <%= current_user.admin? ? "日報一覧(day)" : "日報一覧" %>
    </h1>
  </div>
  <%= render_search_bar(path: admin_calendar_day_path) %>

  <div class="d-flex align-items-center justify-content-between my-3">
  <% prev_date = (@selected_date - 1.day).strftime("%Y-%m-%d") %>
  <% next_date = (@selected_date + 1.day).strftime("%Y-%m-%d") %>
  <% today = Date.today.strftime("%Y-%m-%d") %>

  <div class="d-flex align-items-center gap-2">
    <%= link_to "← 前日", admin_calendar_day_path(date: prev_date), class: "btn btn-outline-secondary" %>
    <%= link_to "今日", admin_calendar_day_path(date: today), class: "btn btn-outline-primary" %>
  </div>

  <span class="fs-4 fw-bold">
    <%= @selected_date.strftime("%Y年%m月%d日") %>
  </span>

  <%= link_to "翌日 →",admin_calendar_day_path(date: next_date), class: "btn btn-outline-secondary" %>
</div>

<%= render partial: "share/reports_table", locals: { reports: @reports, admin: true } %>
