<h1 class="mb-4">ユーザー編集</h1>

<%= form_with model: [:admin, @user], local: true, class: "needs-validation" do |f| %>
  <div class="mb-3">
    <%= f.label :name, "名前", class: "form-label" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :email, "メールアドレス", class: "form-label" %>
    <%= f.email_field :email, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :role, "権限", class: "form-label" %>
    <%= f.select :role, [["管理者", 0], ["一般", 1]], {}, class: "form-select" %>
  </div>
  <div class="mb-3">
    <%= f.label :password, "パスワード（変更する場合のみ）", class: "form-label" %>
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :password_confirmation, "パスワード確認", class: "form-label" %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
  <%= f.submit "更新", class: "btn btn-primary" %>
<% end %>