<div class="d-flex justify-content-end align-items-center mb-4">
  <%= link_to "＋ 新規ユーザー作成", new_admin_user_path, class: "mb-0 btn btn-dark" %>
</div>

<table class="table table-hover">
  <thead >
    <tr>
      <th class="ps-3">ID</th>
      <th>名前</th>
      <th>メールアドレス</th>
      <th>権限</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class="ps-3"><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.admin? ? "管理者" : "一般" %></td>
        <td class="d-flex align-items-center">
          <%= link_to edit_admin_user_path(user), class: "btn btn-link text-secondary p-0 me-2 icon-hover", title: "編集", "data-bs-toggle": "tooltip", "data-bs-placement": "top" do %>
            <i class="bi bi-pencil-square fs-3"></i>
          <% end %>
          <div data-controller="modal">
            <button
              type="button"
              class="btn btn-link text-danger p-0 icon-hover"
              data-action="click->modal#show"
              data-url="<%= admin_user_path(user) %>"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="削除">
              <i class="bi bi-trash fs-3"></i>
            </button>
            <%= render partial: "share/delete_alert" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
