<% path = current_user.admin? ? admin_reports_path : reports_path %>

<% if defined?(@date_range_error) && @date_range_error.present? %>
  <div class="alert alert-danger" role="alert">
    <%= @date_range_error %>
  </div>
<% end %>

<%= form_with url: path, method: :get, local: true, class: "row g-2 align-items-end mb-3" do |f| %>
  <div class="col-auto">
    <%= f.label :start_date, "開始日" %>
    <%= f.date_field :start_date, value: params[:start_date], class: "form-control" %>
  </div>
  <div class="col-auto">
    <%= f.label :end_date, "終了日" %>
    <%= f.date_field :end_date, value: params[:end_date], class: "form-control" %>
  </div>
  <div class="col-auto align-items-end">
    <%= f.submit "絞り込む", class: "btn btn-primary" %>
  </div>
  <div class="col-auto align-items-end">
    <%= link_to "クリア", path, class: "btn btn-secondary m-0" %>
  </div>
<% end %>
