
<%= form_with model: @report, method: :patch,local: true, html: {class: form_class } do |form| %>


  <div>
    <%= form.label :report_date, '日付' %>
    <div>
      <%= form.date_field :report_date,  placeholder: '年 /月 /日' %>
    </div>
  </div>

  <div>
    <p>氏名</p>
    <% if defined?(current_user) && current_user %>
      <p><%= current_user.name %></p>
    <% else %>
      <p>（ログインユーザー情報なし）</p>
    <% end %>
  </div>

  <div>
    <%= form.label :title, 'タイトル' %>
    <div>
      <%= form.text_field :title %>
    </div>
  </div>

  <div>
    <%= form.label :contents, '内容' %>
    <div>
      <%= form.text_area :contents %>
    </div>
  </div>

  <div>
    <%= form.submit '登録' %>
  </div>
<% end %>
