<% report ||= @report %> 
<% form_class ||= '' %>
<% context ||= :user %> 

<% form_url = (context == :admin) ? [:admin, report] : report %>
<% cancel_path = if report.persisted? %>
  <% (context == :admin) ? admin_report_path(report) : report_path(report) %>
<% else %>
  <% (context == :admin) ? admin_calendar_month_path : calendar_month_path %>
<% end %>
<% origin_path = params[:origin].presence || cancel_path %>


<% cancel_path = @cancel_path if defined?(@cancel_path) && @cancel_path.present? %>


<%= form_with model: report, url: form_url, local: true, html: { class: form_class } do |form| %>
  <%= hidden_field_tag :from, @cancel_path %>
<% if context == :admin && report.persisted? %>
<div class="mb-4 d-flex align-items-center">
  <label class="form-label me-2 mb-0 fw-bold">作成者</label>
  <span><%= report.user.name %></span>
</div>
<% end %>
  <div class="mb-4">
    <div class="d-flex align-items-center mb-2">
      <%= form.label :report_date, '日付', class: "form-label me-2 mb-0 fw-bold" %>
      <%= form.date_field :report_date,
          value: determine_report_date(report),
          class: "form-control form-control-lg w-auto" %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :title, 'タイトル', class: "form-label fw-bold" %>
    <%= form.text_field :title, class: "form-control form-control-lg", placeholder: "タイトルを入力してください" %>
  </div>

  <hr class="my-4">

  <div class="mb-4">
    <%= form.label :contents, '内容', class: "form-label fw-bold" %>
    <%= form.text_area :contents, class: "form-control", rows: 10, placeholder: "今日の業務内容を入力してください。" %>
  </div>

  <div class="d-flex justify-content-end gap-3 mt-5">
    <%= render 'share/bootstrap_dark_button',
      text: 'キャンセル',
      path: cancel_path,
      size_class: 'btn-lg',
      extra_classes: 'btn btn-lg btn-outline-dark btn-hover-red'
    %>

    <% submit_text = report.persisted? ? '更新' : '登録' %>
    <%= form.submit submit_text, class: "btn btn-lg btn-outline-dark btn-hover-red" %>
  </div>
<% end %>
