<div class="container mt-5">
  <div class="card shadow-sm mb-4">
    <div class="card-body">
      <p class="mb-3"><%= @report.report_date.strftime("%Y-%m-%d") %></p>

      <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="d-flex align-items-center">
          <h2 class="card-title mb-0 me-2"><%= @report.title %></h2>
          <%= link_to edit_report_path(@report), class: "btn btn-link text-secondary p-0 me-1  icon-hover", title: "編集", "data-bs-toggle": "tooltip", "data-bs-placement": "top" do %>
            <i class="bi bi-pencil-square fs-3 ms-3"></i>
          <% end %>
          <%= button_to report_path(@report), method: :delete, data: { turbo_confirm: "本当に削除しますか？" }, class: "btn btn-link text-danger p-0 icon-hover", title: "削除", form: { style: 'display:inline-block;' }, "data-bs-toggle": "tooltip", "data-bs-placement": "top" do %>
            <i class="bi bi-trash fs-3 me-3"></i>
          <% end %>
        </div>
        <div class="ms-auto">
          <%= render partial: "favorite", locals: { report: @report, favorite: @report.favorites.find_by(user_id: current_user.id) } %>
        </div>
      </div>

      <div class="border-top border-3 border-muted my-4"></div>

      

      <div class="bg-light p-3 rounded mb-3">
        <%= simple_format(@report.contents) %>
      </div>

      <div class="text-end" style="font-size: 0.8rem;">
        更新日: <%= @report.updated_at.strftime("%Y-%m-%d") %>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <%= render 'share/bootstrap_dark_button',
          text: '一覧へ戻る',
          path: calendar_month_path,
          size_class: 'btn-lg',
          extra_classes: 'custom-dark-button' %>
  </div>

</div>
