<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid d-flex justify-content-between">
      <%= link_to "日報管理システム", root_path, class: "navbar-brand text-dark fw-bold" %>
        <% if user_signed_in? && current_user.admin? %>
          <% if request.path.start_with?('/admin') %>
            <%= link_to "個人ページへ", calendar_month_path, class: "nav-link text-dark fw-bold text-decoration-underline me-3" %>
          <% else %>
            <%= link_to "管理者ページへ", admin_calendar_month_path, class: "nav-link text-dark fw-bold text-decoration-underline me-3" %>
          <% end %>
        <% end %>
      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <div class="d-flex align-items-center">

            <li class="nav-item">
              <% if user_signed_in? %>
                <% if current_user.admin? &&request.path.start_with?('/admin') %>
                  <span class="nav-link text-dark py-1 pe-2 right-line">管理者モード <%= current_user.name %> さん</span>
                <% else %>
                  <span class="nav-link text-dark py-1 pe-2 right-line"><%= current_user.name %> さん</span>
                <% end %>
              <% end %>
            </li>
            <li class="nav-item">
              <%= button_to "ログアウト", destroy_user_session_path, method: :delete, data: { turbo_confirm: "本当にログアウトしますか？" },
              class: "btn logout-button px-2 py-2" %>
            </li>
          </div>
        <% else %>
          <li class="nav-item">
            <%= link_to "ログイン", new_user_session_path, class: "btn login-button px-2 py-2" %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
