<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Daily Report System" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>
  <body>
    <%= render "share/toast_message" %>
    <%= render "layouts/header" %>
    <% unless local_assigns[:hide_sub_header] %>
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <div class="mb-3">
            <% if request.path.start_with?("/admin") %>
              <%# 管理者モード %>
              <%= render 'layouts/admin/sub_header' %>
            <% else %>
              <%# 個人ページモード %>
              <%= render 'layouts/sub_header' %>
            <% end %>
          </div>
        <% else %>
          <div class="mb-3">
            <%= render 'layouts/sub_header' %>
          </div>
        <% end %>
      <%end%>
    <% end %>
    <div class="container mt-4">
      <%= yield %>
    </div>
    <script></script>
  </body>
</html>
